/* default body stylings  */

html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #4c5096;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}
